.cartitem {
    box-shadow: 0 10px 30px 0 rgba(165, 165, 165, 0.1);
    width: 100%;
    padding: 7px;
    margin-top: 20px;
    border-radius: 15px;
    background-color: #fff;
    color: rgb(81, 81, 81);
    display: flex;
    justify-content: space-between;
}

.itemamount {
    width: 28%;
    font-size: 20px;

    display: flex;
    justify-content: space-between;
}
.itemamount2 {
    width: 65%;
    font-size: 16px;
    border-radius: 30px;
    border: 3px solid #efa8a8;
    display: flex;
    justify-content: space-between;
}

.minusbtn,
.plusbtn {
    padding-top: 20px;
    max-height: 20px;
}

.productimagecart {
    width: 25%;
    border-radius: inherit;
}

.productimagecart img {
    width: 100%;
    border-radius: inherit;
}

.productinfo>h5,
.productinfo>h4 {
    margin: 5px;

}

.cartitems {
    margin-top: 20px;
}

.showcartpage {
    display: flex;
    flex-direction: column;
}

.total {
    margin-top: auto;
    z-index: 5;
   
    color: rgb(58, 58, 58);
}

.Cartbottom {
    display: flex;
    justify-content: space-between;
    padding:10px 25px 0 25px ;
    position: sticky;
    left: 90%;
    bottom: 88px;
    color: #fff;
    background-color: #fff;
z-index: 10;
}

.paynowbtn {
    color: #fff;
    border-radius: 20px;
}

.paynowbtn>.paybtn {
 
    width: 100%;
    color: #fff;
    padding: 20px;
    border-radius: inherit;
}